<nav class="navbar navbar-expand-lg bg-light">
  <ul class="d-flex flex-row navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item p-2">
      <a class="nav-link" [routerLink]="['/']">Home</a>
    </li>
    <li class="nav-item p-2">
      <a class="nav-link" [routerLink]="['/counter']">Counter</a>
    </li>
    <li class="nav-item p-2">
      <a class="nav-link" [routerLink]="['/posts']">Posts</a>
    </li>
    <li class="nav-item p-2">
      <a class="nav-link" [routerLink]="['/auth']">Login</a>
    </li>
    <li class="nav-item p-2">
      <a class="nav-link" [routerLink]="['/auth/singup']">Sign Up</a>
    </li>
  </ul>
</nav>
