<main class="container">
  <div class="row my-3">
    <div class="col-md-6 offset-md-3">
      <h3>Sign up</h3>
      <hr />

      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <section class="mb-3">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            formControlName="email"
          />
          <div
            *ngIf="
              signupForm.get('email')?.touched &&
              signupForm.get('email')?.invalid
            "
          >
            <span *ngIf="signupForm.get('email')?.errors?.['required']">
              Email is required
            </span>
            <span *ngIf="signupForm.get('email')?.errors?.['email']">
              Email invalid
            </span>
          </div>
        </section>
        <section class="mb-3">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            formControlName="password"
          />
          <div
            *ngIf="
              signupForm.get('password')?.touched &&
              signupForm.get('password')?.invalid
            "
          >
            <span *ngIf="signupForm.get('password')?.errors?.['required']">
              Password is required
            </span>
            <span *ngIf="signupForm.get('password')?.errors?.['minlength']">
              password should be minimun 4 charecters
            </span>
          </div>
        </section>
        <section class="mb-3">
          <button
            [disabled]="signupForm.invalid"
            type="submit"
            class="btn btn-primary"
          >
            Sing up
          </button>
        </section>
      </form>
    </div>
  </div>
</main>
