<section class="row">
  <div class="col-md-12">
    <h3>Post List</h3>

    <section>
      <a class="btn btn-primary" [routerLink]="['/posts/add']">Add post</a>
    </section>

    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>

    <table *ngIf="posts$ | async as postsData" class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let post of postsData">
        <tr>
          <th>{{ post.id }}</th>
          <th>{{ post.title }}</th>
          <th>{{ post.description }}</th>
          <th>
            <a class="btn btn-primary" [routerLink]="['edit', post.id]"
              >Update</a
            >
          </th>
          <th>
            <button class="btn btn-danger" (click)="onDelete(post.id!)">
              Delete
            </button>
          </th>
          <th>
            <a class="btn btn-info" [routerLink]="['details', post.id]"
              >Details</a
            >
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</section>
